// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgba(128, 128, 128, 0.5);
$light-gray: #F4F4F4;
$black: rgb(24, 24, 24);
$theme-colors: (
  "primary": #000508,
  "danger": #ff4136
);
