#consultations-index {
  .booking-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pending {}

  .owner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
    color: rgb(19, 18, 18);
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  h2.p {
    text-align: right;
    color: whitesmoke;
    font-weight: bold;
  }

  h2.owner {
    text-align: right;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  }

  h2 {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    // drop-shadow: 2px 2px 2px black;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  }

  label {
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.733);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .btn {
    background-color: rgba(128, 128, 128, 0.909);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.795);
  }

  .btn:hover {
    background-color: rgba(128, 128, 128, 0.957);
    color: rgb(17, 203, 17);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.9);
    transition-duration: 1s;
  }

  .nav-link {
    flex: 1;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .nav-link:hover {
    color: rgb(17, 203, 17);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.9);
    transition-duration: 1s;
  }

}
