// Specific CSS for your home-page
 .overlay-container {
   position: relative;
   height: calc(100% - 150px); /* Subtract navbar height from container height */
 }

 #enlarged-text {
  font-size: 165px;
  opacity: 50%;
 }

 #AA-main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
 display: flex;
 justify-content: space-evenly;
}

.card-content {
  display: flex;
  width: 300px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--Card-Div, #AF8260);
  flex: 1 0 21%; /* Flex properties to adjust card size */
  max-width: 100%; /* Ensure the card does not exceed this width */
  position: relative;
  overflow: hidden; /* Optional: Ensures the content doesn't overflow the card */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 5px 0;
  color: #322C2B;
}

.button-outline {
  color: black;
}

.form-control.rounded-pill {
  border-radius: 50px;
}

.btn-primary:hover {
  background-color: rgb(99, 98, 98);
  color: rgb(255, 255, 255);
  transition: 1s;
}
