// Specific CSS for your home-page
 .overlay-container {
   position: relative;
   width: 100%;
   height: calc(100% - 150px); /* Subtract navbar height from container height */
 }

.card-container {
 display: flex;
 justify-content: center;
}

.card-content {
  padding: 10px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 5px 0;
  color: #555;
}
