// Specific CSS for your home-page
 .overlay-container {
   position: relative;
   height: calc(100% - 150px); /* Subtract navbar height from container height */
 }

 #enlarged-text {
  font-size: 165px;
  opacity: 50%;
 }

 #AA-main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
 display: flex;
 justify-content: center;
}

.card-content {
  padding: 10px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 5px 0;
  color: #322C2B;
}

.button-outline {color: black;}
