label {
  color:black;
  font-weight: bold;
}

.content {
  background-color: white;
}

.button {
  border: black solid 1px;
  color: white;
  background-color: black;
  width: 350px;
  border-radius: 5px;}

.form-inputs {
  width: 500px;
}
