label {
  color:black;
  font-weight: bold;
}

.content {
  background-color: white;
}

.button {
  border: black solid 1px;
  color: white;
  background-color: black;
  width: 350px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(99, 98, 98);
  color: rgb(255, 255, 255);
  transition: 1s;
}

.form-inputs {
  width: 500px;
}
