h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

p {
  color: black;
}

.btn {
  color: white;
  align-items: right;
}

a {
  color: white;
  // background-color: black;
  text-decoration: none;
  border-radius: 5px;
}

button i {color: white}

.btn.consultation {
  background-color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  align-items: right;
  margin-left: 300px;
}

.btn.consultation:hover {
  background-color: rgb(99, 98, 98);
  color: rgb(255, 255, 255);
  transition: 1s;
}

.btn-primary {
  color: black;
}

.btn-secondary {
  color: black;
}

.btn-secondary:hover {
  background-color: black;
  color: white;
}

.share-button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
