h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

p {
  color: black;
}

.btn {
  color: black;
  align-items: right;
}

a {
  color: white;
  // background-color: black;
  text-decoration: none;
  border-radius: 5px;
}
