#search_result.scss

.property-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
  grid-gap: 30px;
  padding: 15px;
}

.card {
  display: flex;
  width: 238px;
  height: 343px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--Card-Div, #AF8260);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Add border below the image */
}

#map {
  height: 100vh;
  // border: 1px solid #ccc; /* Add border around the map */
  position: sticky;
  top: 1px;
  padding: 2px;
  border-radius: 15px; /* Add this line to create rounded corners */
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar .form-control {
  flex-grow: 1;
  margin-right: 10px;
}
