<% if user_signed_in? %>
  <% unless property.user == current_user %>
    <% favourite = property.favourited_by(current_user) %>
    <div data-controller="favourite" data-favourite-property-id-value="<%= property.id %>">
      <% unless favourite %>
        <%= link_to property_favourites_path(property), data: { action: 'click->favourite#send', favourite_target: 'link' }, class: "pin" do %>
          <i class="fa-regular fa-heart" data-favourite-target="icon"></i>
        <% end %>
      <% else %>
        <%= link_to favourite_path(favourite), data: { action: 'click->favourite#send', favourite_target: 'link' }, class: "pin" do %>
          <i class="fa-solid fa-heart" data-favourite-target="icon"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= link_to  new_user_session_path, class: "pin" do %>
    <i class="fa-regular fa-heart"></i>
  <% end %>
<% end %>
