
<h1 class="text-center">Favourites</h1>
<p class="text-center">Select your dream house in Japan</p>
<div class="property-grid">
  <% @favourites.each do |favourite| %>
    <%= render "properties/property", property: favourite.property %>
  <% end %>
</div>
