  <div class="property-grid">
    <% if properties.any? %>
      <% properties.each do |property| %>
        <%= render "property", property: property %>
      <% end %>
    <% else %>
      <p>Please try to search again.</p>
    <% end %>
  </div>
