<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your Akiya 空き家</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Find your Akiya 空き家</h1>
    <h2>Search, find and purchase your Dream Home in Japan</h2>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
        <button id="filter-button">Filter</button>
    </div>
    <div id="search-results"></div>


  

    <div class="card-container">
        <% @properties.each do |property| %>
            <div class="card">
                <div class="card-content">
                  <% if property.photo.attached? %>
      <%= cl_image_tag(property.photo.key,
        width: 400, height: 300, crop: :fill) %>
                  <% end %>
                    <h3><%= link_to "$#{property.price}", property_path(property) %></h3>
                    <p><%= "#{property.bedrooms} bedrooms" %></p>
                    <p><%= property.address %></p>
                </div>
            </div>
        <% end %>
    </div>

    <script src="script.js"></script>
</body>
</html>
