<div class="p-3 mt-5 akiya-footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
      <h4 class="mb-3">Akiya access</h4>
      <p class="mb-3">Re-imagine your dream home in Japan</p>
      <p>Join our community</p>
        <div>
          <a href="https://facebook.com" target="_blank" data-controller="clipboard" data-action="clipboard#copy">
            <button class="share-button facebook">
              <i class="fab fa-facebook-f"></i>
            </button>
            </button>
              </a>
              <a href="https://instagram.com" target="_blank" data-controller="clipboard" data-action="clipboard#copy">
              <button class="share-button instagram">
               <i class="fab fa-instagram"></i>
            </button>
              </a>
              <a href="https://youtube.com" target="_blank" data-controller="clipboard" data-action="clipboard#copy">
              <button class="share-button youtube">
                <i class="fa-brands fa-youtube"></i>
              </button>
            </a>
            <a href="https://tiktok.com" target="_blank" data-controller="clipboard" data-action="clipboard#copy">
              <button class="share-button tiktok">
               <i class="fa-brands fa-tiktok"></i>
              </button>
            </a>
        </div>
      </div>
      <div class="col-4">
      <h5 class="mb-3">Explore</h5>
      <p class="mb-3">Book a consultation</p>
      <p class="mb-3">Rankings</p>
      <p>Connect a wallet</p>
      </div>
      <div class="col-4">
      <h5 class="mb-3">Join our Monthly digest</h5>
      <p class="mb-3">Get exclusive promotions & updates straight to your inbox.</p>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      </div>
    </div>
  </div>
</div>
