<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Selection</title>
</head>
<body>
    <div class="services">
        <div class="plan">
            <h3>Basic Package</h3>
            <h4>Akiya Explorer</h4>
            <h5>(Budget Friendly)</h5>
            <div class="price">$1,250 USD<br></div>
            <ul class="features">
              <li>1-1 Support</li>
              <li>Market Research Reports</li>
              <li>Akiya Portfolio Curation (6 listings)</li>
            </ul>
        </div>
        <div class="plan most-popular">
            <h5>Most Popular!</h5>
            <h3>Standard Packages</h3>
            <h4>Akiya Pathfinder</h4>
            <h5>(Guided Search)</h5>
            <div class="price">$4,500 USD<br></div>
            <ul class="features">
                <li>Everything included in Basic Package, plus...</li>
                <li>Virtual Viewing</li>
                <li>In-Person/On-Site Viewing</li>
                <li>Property Due Diligence / Reconnaissance</li>
                <li>Tax and Legal Consultancy</li>
                <li>Travel and Local Logistics Support</li>
                <li>Buyer Representation</li>
                <li>Financing Advisory</li>
                <li>Incentive Programs Information</li>
            </ul>
        </div>
        <div class="plan">
            <h3>Premium Packages</h3>
            <h4>Akiya Visionary</h4>
            <h5>(Full-Service)</h5>
            <div class="price">Upon request<br></div>
            <ul class="features">
                <li>Everything included in Standard Package, plus...</li>
                <li>Introduction to Local Tradespeople</li>
                <li>Architectural and Design Services</li>
                <li>Sustainable Renovation Advice</li>
                <li>Relocation Assistance</li>
                <li>Community Integration Services</li>
                <li>Property Management for Non-Resident Owners</li>
            </ul>
        </div>
    </div>
</body>
</html>
