<h5 class="me-3 mt-1" align="center">Most Popular!</h5>
<div class="services">
  <div class="plan basic">
    <div>
      <h3 class="mb-3">Basic Packages</h3>
      <h4>Akiya Explorer</h4>
      <h5>(Budget Friendly)</h5>
      <p class="price">To be announced</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushBasic">
      <% @plans[:basic].each_with_index do |service, index| %>
        <%= render 'shared/accordion_item', title: service[:title], content: service[:content], index:, plan: "Basic" %>
      <% end %>
    </div>
  </div>
  <div class="plan standard">
    <h3>Standard Packages</h3>
    <h4>Akiya Pathfinder</h4>
    <h5>(Guided Search)</h5>
    <div class="price">To be announced<br></div>
    <p class="mb-2">Everything included in Basic Package, plus...</p>
    <div class="accordion accordion-flush" id="accordionFlushStandard">
      <% @plans[:standard].each_with_index do |service, index| %>
        <%= render 'shared/accordion_item', title: service[:title], content: service[:content], index: index, plan: "Standard" %>
      <% end %>
    </div>
  </div>
  <div class="plan prenium">
    <h3>Premium Packages</h3>
    <h4>Akiya Visionary</h4>
    <h5>(Full-Service)</h5>
    <div class="price">Upon request<br></div>
    <p class="mb-2">Everything included in Standard Package, plus...</p>
    <div class="accordion accordion-flush" id="accordionFlushPremium">
      <% @plans[:premium].each_with_index do |service, index| %>
        <%= render 'shared/accordion_item', title: service[:title], content: service[:content], index: index, plan: "Premium" %>
      <% end %>
    </div>
  </div>
</div>
