.akiya-footer {
  background-color: $footer-bg-color;

  h4, h5, p {
    color: $footer-text-color;
  }

  .share-button {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    border-radius: 5px;
    padding: 0;
    margin: 10px;
    border: 0;
  }

  .btn-dark {
    border: none;
    border-radius: 5px;
    padding: 3px;
    color-scheme: white;
  }
}
