.AA-navbar {
  // position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  // z-index: 1000;
}

.AA-navbar-left {
  // padding: 0 25px;
  height: 50px;
  width: 50px;
  // height: 60%;
  justify-content: center;
}

.logo {
  height: 100%;
  max-width: 100px;
  text-align: left;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.AA-navbar-center {
  // flex: 1;
  display: flex;
  padding: 1em;
  justify-content: center;
  background-color: rgba(128, 61, 59, 0.5);
  align-items: center;
  border-radius: 50px;
  text-align: center;
  // padding: 0 25px;
}

.AA-navbar-center a {
  padding: 0 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.AA-navbar-right {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 0;
  justify-content: center;
  background-color: rgba(128, 61, 59, 0.5);
  align-items: center;
  border-radius: 50%;
}

.dropdown.logged-in {
  background:url(asset-path('Avatar.png'));
  background-size: cover;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  padding: 0;
  margin: 0;
}

.AA-navbar-right a {
  // padding: 0 15px;
  color: #FFFFFF;
  text-decoration: none;
}

// .favourites-link {
  /* Add styles for favourites link */
// }

/* Add styles for login/logout and avatar dropdown */
/* Custom styles for the circular dropdown button */
.dropdown-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-circle .fas {
  font-size: 2em; /* Adjust the icon size as needed */
}
